.env
cloudflared/.env
cloudflared/*.json
cloudflared/config.yml
*/node_modules/
backup/ca-bundle.pem
registry/registry
registry/ca-bundle.pem
cloudflared/cert.pem
traefik/dynamic/infra.yml
traefik/dynamic/managed.yml
.serena/
