:80 {
    @auth host auth.joedodge.dev
    handle @auth {
        reverse_proxy keycloak:8080
    }

    @ttyd host t.joedodge.dev
    handle @ttyd {
        reverse_proxy oauth2-proxy-ttyd:4180
    }

    @home host home.joedodge.dev
    handle @home {
        reverse_proxy oauth2-proxy-homarr:4181
    }

    @dashboard host joedodge.dev
    handle @dashboard {
        respond "Hello World!" 200
    }

    @todo path /todo /todo/*
    handle @todo {
        reverse_proxy todo:3000
    }

    handle {
        respond "Hello World!" 200
    }
}
