BACKUP_S3_BUCKET=not-so-localhost-backups
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<iam-access-key>
AWS_SECRET_ACCESS_KEY=<iam-secret-key>
KEYCLOAK_DB_PASSWORD=
POSTGRES_ADMIN_PASSWORD=
POSTGRES_ADMIN_USER=admin
BACKUP_API_TOKEN=<generate-me>
BACKUP_INTERVAL=1h
BACKUP_DIR=/backups
NODE_IDENTITY_FILE=/var/lib/nsl/node.json
BACKUP_TARGETS_FILE=/etc/nsl/backup-targets.json
